<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> of recipient<br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :message_text %><br>
    <%= f.text_field :message_text, :required => true %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <!-- <%= f.number_field :duration, :required => true %> -->
    <%= f.select :duration, [['1 Day','24'],['2 Days','48'],['3 Days','72'],['4 Days','96'],['5 Days','120'],['6 Days','144'],['7 Days','168']], :required => true %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <!-- <%= f.number_field :frequency, :required => true %> hours -->
    <%= f.select :frequency, [['Every hour','1'],['Every 2 hours','2'],['Every 4 hours','4'],['Every 12 hours','12'],['Every 24 hours','24']], :required => true %>
  </div>
  <br>
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :last_sent %><br>
    <%= f.datetime_select :last_sent %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
