<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message text</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Duration</th>
      <th>Frequency</th>
      <th>Is active</th>
      <th>Last sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <div>
        <td><%= link_to notification.name, notification %></td>
        <td><%= notification.message_text %></td>
        <td><%= notification.phone_number %></td>
        <td><%= notification.email %></td>
        <td><%= notification.duration %></td>
        <td><%= notification.frequency %></td>
        <td><%= notification.is_active %></td>
        <td><%= notification.last_sent %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
