<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notification.name %>
</p>

<p>
  <strong>Message text:</strong>
  <%= @notification.message_text %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @notification.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @notification.email %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @notification.duration %> messages
</p>

<p>
  <strong>Frequency:</strong>
  <%= @notification.frequency %> hours
</p>

<p>
  <strong>Is active:</strong>
  <%= @notification.is_active %>
</p>

<p>
  <strong>Last sent:</strong>
  <%= @notification.last_sent || "Not yet sent" %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
